body {
	--gap: 10px;
	font-family:sans-serif;
}

h2, p {
	margin:0;
}

h1 {
	margin:var(--gap)
}

#container {
	position:absolute;
	left: 0;
	top:0;
	right:0;
	bottom:0;
	
	background:url('images/menuBackground.png');
	background-repeat:no-repeat;
	background-size:cover;
	
	display:flex;
	align-items:center;
	justify-content:center;
	
	padding:var(--gap);
	
	overflow-x:hidden;
}

#content {
	width: 100%;
	max-width: 750;
	
	/* background-color:white; */
	
	display:flex;
	flex-direction:column;
	align-items:stretch;
	justify-content:center;
	gap: var(--gap);
	
	text-align:center;
	
	user-select:none;
	
	height:calc(100% - calc(var(--gap) * 2));
	max-height:750;
}


#block {	
	display:flex;
	flex-direction:column;
	align-items:stretch;
	gap: var(--gap);
	
	background-color:white;
	border:2px solid black;
	border-radius:var(--gap);
	overflow-x:hidden;
	padding:var(--gap);
	gap: var(--gap);
}

#linksContainer {
	display:flex;
	flex-direction:row;
	gap:var(--gap);
	margin-top:var(--gap);
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.linkContainer {
	background-color:rgba(0,0,0,0.2);
	padding:var(--gap);
	border:2px solid black;
	border-radius:var(--gap);
	display:flex;
	flex-direction:column;
	gap:var(--gap);
	color:black;
}

.linkContainer:hover {
	background-color:rgba(0,0,0,0.8);
	color:white;
}

img {
	height:200px;
	border:2px solid black;
	border-radius:var(--gap);
}

a {
	text-decoration:none;
}

@media screen and (max-width: 750px) {
	
	#container {
		align-items:flex-start;
	}
	
	#content {
		max-width:unset;
		max-height:unset;
		height:unset;
	}
	
	#linksContainer {
		height:unset;
		display:block;
	}
	
	.linkContainer {
		flex-direction:column;
		height:unset;
		margin-top:var(--gap);
	}
	
	.linkContainer {
		margin-top:var(--gap);
	}
	
	.vertical {
		align-items:center;
		text-align:center;
	}
	
	img {
		height:unset;
		width:100%;
	}
}